{% extends 'base.html' %}
{% load static %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/password_change_form.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="form-container">
    <h2 class="form-title">Cambiar Contraseña</h2>
    <form method="post" class="form-change-password">
      {% csrf_token %}
      
      <!-- Contraseña actual -->
      <div class="form-group">
        <label for="id_old_password">Contraseña Actual</label>
        <input type="password" name="old_password" id="id_old_password" class="form-control" required>
      </div>
      
      <!-- Nueva contraseña -->
      <div class="form-group">
        <label for="id_new_password1">Nueva Contraseña</label>
        <input type="password" name="new_password1" id="id_new_password1" class="form-control" required>
      </div>
      
      <!-- Confirmar nueva contraseña -->
      <div class="form-group">
        <label for="id_new_password2">Confirmar Nueva Contraseña</label>
        <input type="password" name="new_password2" id="id_new_password2" class="form-control" required>
      </div>
      
      <div class="form-submit">
        <button type="submit" class="submit-btn">Actualizar Contraseña</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}