{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Pródito{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block extra_head %}{% endblock %}
    {% block extra_css %}{% endblock %}
</head>

<body>
    <div class="grid-layout">
        <header class="header">
            {% block header %}{% endblock %}
        </header>

        <main class="main">
            {% block content %}{% endblock %}
        </main>

        <footer class="footer">
            {% block footer %}

            <div class="footer-container">

                <span class=" mb-md-0 text-body-secondary">© 2025 Pródito</span>

                <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                    <li class="ms-3">
                        <a class="text-body-secondary" href="https://www.instagram.com/p/COLHA9-pvfd/" target="blank">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/a/a5/Instagram_icon.png" width="24"
                                height="24" alt="Instagram">
                        </a>
                    </li>
                    <li class="ms-3">
                        <a class="text-body-secondary" href="#">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg"
                                width="24" height="24" alt="Facebook">
                        </a>
                    </li>
                </ul>
            </div>

            {% endblock %}
        </footer>
    </div>
</body>

</html>