{% extends 'base.html' %}
{% load static %}
{% block title %}Crear cuenta{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/crear_cuenta.css' %}">
{% endblock %}

{% block header %}
<div class="header-wrapper d-flex align-items-center gap-2">
  <img width="45rem" src="https://res.cloudinary.com/dtnttrleq/image/upload/v1744407777/prodito_feliz_suyaob_q8lyey.png"
    alt="Monito pródito" class="monito-img">
<div class= "contenedor-titulo">
  <h5 class="crear-cuenta-titulo">Bienvenido a la creación de cuenta</h5>
  </div>
</div>
{% endblock %}


{% block content %}
<div class="form-container">
  <h2 class="form-title">Crear cuenta</h2>
  <form method="POST" action="{% url 'crear_cuenta' %}">
    {% csrf_token %}
    
    <div class="form-group">
      <label for="username">Nombre de usuario</label>
      <input type="text" id="username" name="username" required>
    </div>

    <div class="form-group">
      <label for="email">Correo electrónico</label>
      <input type="email" id="email" name="email" required>
    </div>

    <div class="form-group">
      <label for="password1">Contraseña</label>
      <input type="password" id="password1" name="password1" required>
    </div>

    <div class="form-group">
      <label for="password2">Confirmar contraseña</label>
      <input type="password" id="password2" name="password2" required>
    </div>

    <button type="submit" class="btn-crear-cuenta">Crear cuenta</button>
  </form>
</div>
{% endblock %}