{% extends "base.html" %}

{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/tareas.css' %}">
{% endblock %}

{% block title %}Editar Tarea{% endblock %}

{% block content %}
<div class="container mt-5 form-tarea-editar">
  <h2 class="mb-4 text-center">Editar Tarea</h2>

  <form method="post">
    {% csrf_token %}

    <div class="form-group">
      <label for="id_titulo">Título</label>
      {{ form.titulo }}
    </div>

    <div class="form-group">
      <label for="id_descripcion">Descripción</label>
      {{ form.descripcion }}
    </div>

    <div class="form-group">
      <label for="id_fecha">Fecha de Inicio</label>
      <input type="text" class="form-control" id="id_fecha" name="fecha"
        value="{{ form.fecha.value|default_if_none:'' }}" required>
    </div>

    <div class="form-group">
      <label for="id_hora">Hora de Inicio</label>
      <input type="time" class="form-control" id="id_hora" name="hora" value="{{ form.hora.value }}" required>
    </div>

    <div class="form-group">
      <label for="id_fecha_fin">Fecha de Fin</label>
      <input type="text" class="form-control" id="id_fecha_fin" name="fecha_fin"
        value="{{ form.fecha_fin.value|default_if_none:'' }}">
    </div>

    <div class="form-group">
      <label for="id_hora_fin">Hora de Fin</label>
      <input type="time" class="form-control" id="id_hora_fin" name="hora_fin"
        value="{{ form.hora_fin.value|default_if_none:'' }}">
    </div>

    <div class="form-group text-center">
      <label>Etiquetas</label>
      {{ form.etiquetas }}
    </div>

    <div class="mb-3 text-center">
      <a href="{% url 'crear_etiqueta' %}" class="btn btn-info btn-sm text-center">+ Crear Etiqueta</a>
    </div>

    <div class="text-center mt-3">
      <button type="submit" class="btn btn-success">Guardar Cambios</button>
      <a href="{% url 'tareas' %}" class="btn btn-secondary">Cancelar</a>
    </div>

  </form>
</div>
{% endblock %}

{% block extra_js %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" />
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    flatpickr("#id_fecha", {
      enableTime: false,
      dateFormat: "Y-m-d"
    });
    flatpickr("#id_fecha_fin", {
      enableTime: false,
      dateFormat: "Y-m-d"
    });
  });
</script>
{% endblock %}